* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 25, 25);
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
    background-color: black;
}

form {
    display: flex;
    align-items: center;
    margin-right: 170px;
}

.header-logo {
    max-width: 100%;
    height: 50px;
    margin-left: 170px;
}

.header-search {
    padding: 8px;
    padding-right: 150px;
    border: 3px solid #f6882e;
    border-radius: 10px;
    outline: none;
}

.btn {
    padding: 8px;
    background-color: #f6882e;
    border-radius: 10px;
    color: azure;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    height: 20px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1px;
}

.movie {
    width: 240px;
    margin: 10px;
    position: relative;
}

.movie-ex {
    position: relative;
}

.movie-img {
    max-width: 100%;
    height: 100%;
    min-height: 100%;
}

.movie-info {
    padding: 10px 0px;
}

.movie-title {
    font-size: 16px;
    color: azure;
}

.movie-category {
    font-size: 14px;
    color: #f6882e;
}

