body{
    font-family: sans-serif;
}


.container {
    display: flex;
    justify-content: center;
}


/* Шапка */

.header-set {
    border-right: 1px solid #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
    max-width: 80px;
    padding-left: 30px;
    padding-right: 20px;
    /* background-color: red; */
    position:-webkit-sticky; 
    position: sticky; top:0;
}

.logo {
    padding-left: 1px;
    padding-top: 50px;
    width: 100%;
}

.header-icons {
    width: 100%;
    padding-top: 180px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home {
    padding-top: 15px;

}

.header-down-icons {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 130px;
}

.down {
    padding-top: 15px;
}

.avatar {
    padding-top: 15px;
    width: 32px;
}

/* Надписи сверху */

.main-header {
    display: inline;
    border-bottom: 2px solid #bebebe;
    padding-bottom: 30px;
    display: flex;
    padding-top: 40px;
    padding-left: 10px;
    /* background-color: blueviolet; */
}

.main-head-1 {
    font-size: 16px;
    font-weight: 700;
    color: #bebebe;
}

.main-head-2 {
    font-size: 16px;
    font-weight: 700;
    padding-left: 70px;
}

/* Основной контент */

.main {
    margin-left: 5%;
    margin-top: 56px;
}

.main-nav {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
    border-bottom: 1px solid #bebebe;    
}

.main-Follow {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #bebebe;
}

.main-Recomended {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #292929;
    margin-left: 32px;
}

.block {
    display: flex;
    align-items: center;
    margin-top: 5%;  
    border-bottom: 1px solid #bebebe;
    padding-bottom: 2%;
}

.user {
    display: flex;
    align-items: center;
}

.name-user {
    margin-left: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #292929;
}

.block-title {
    margin-top: 15px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #191919;
}

.block-text {
    max-width: 533px;
    font-size: 16px;    
    margin-top: 15px;
    color: #292929;
}

.block-info {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.btn {
    background: #bebebe;
    border-radius: 16px;
    padding: 6px 10px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #292929;
}

.time {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    margin-left: 24px;
    color: #bebebe;
}

.block-image{
    margin-left: 5%;
}

.header-icons :hover * {
    fill: #292929;
}

/* Блок с поиском */

.footer-content {
    width: 339px;
    height: 720px;
    margin-left: 50px;
    padding-top: 55px;
    padding-left: 20px;
    border-left: 1px solid #bebebe;
    position:-webkit-sticky; 
    position: sticky; top:0;
}

.input-set {
    display: flex;
    align-items: center;
    max-width: 301px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 43px;
    border: 1px solid #E6E6E6CC;
    border-radius: 20px;
}

.input {
    font-size: 16px;
    margin-left: 10px;
}


.header-footer {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700px;
    padding-top: 29px;
}

.ellipse {
    width: 10px;
    height: 10px;
    background-color: #1A8917;
    border-radius: 50px;
}

.ellipse-set {
    padding-right: 8px;
}

.footer-block {
    padding-top: 15px;
}

.footer-user {
    display: flex;
    align-items: center;
}

.footer-avatar {
    width: 24px;
}

.footer-name {
    font-size: 13px;
    padding-left: 8px;
}

.footer-text {
    padding-top: 15px;
    font-size: 16px;
}

.full-list {
    margin-top: 29px;
    color: #1A8917 ;
}
